# ðŸ”— Merge Product Metadata with Stock Data

This notebook simulates a joined dataset to enable comparative or enriched modeling in Power BI.

- Load cleaned stock and product data from `data/processed/`
- Create a merged view of stock records with product attributes
- Useful for future visualization or modeling

In [1]:
import pandas as pd
from pathlib import Path

# Load cleaned datasets
data_dir = Path('../data/processed')
df_stock = pd.read_csv(data_dir / 'pep_stock_clean.csv', parse_dates=['Date'])
df_products = pd.read_csv(data_dir / 'pepsico_products_clean.csv')

# Preview both
df_stock.head(), df_products.head()

(        Date     Open     High      Low    Close  Adj Close    Volume
 0 2000-01-03  35.3750  37.3750  35.0000  36.8750    20.0607   5298400
 1 2000-01-04  36.5625  37.5625  35.7500  35.9375    19.5507   4555700
 2 2000-01-05  35.8125  36.3125  34.8750  35.0625    19.0747   5701900
 3 2000-01-06  34.7500  36.8750  34.5000  36.6250    19.9247   6863100
 4 2000-01-07  36.8750  38.6250  36.6875  37.6250    20.4688  10527800,
    Product_Name  Year_Launched  Status Region_Served     Category  \
 0         Pepsi           1893  Active     Worldwide         Cola
 1  Mountain Dew           1940  Active     Worldwide  Citrus Soda
 2         Lay's           1932  Active     Worldwide        Snack
 3       Doritos           1964  Active     Worldwide        Snack
 4     Tropicana           1947  Active     Worldwide    Beverages

              Ownership  Product_Age_2021  Is_Active
 0              PepsiCo               128       True
 1              PepsiCo                81       True
 2  Frito-Lay (PepsiCo)                89       True
 3  Frito-Lay (PepsiCo)                57       True
 4  Tropicana (PepsiCo)                74       True  )

In [2]:
# Simulate join: assign each stock date to every product (Cartesian join)
df_stock['key'] = 1
df_products['key'] = 1
df_merged = pd.merge(df_stock, df_products, on='key').drop('key', axis=1)

df_merged.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Product_Name,Year_Launched,Status,Region_Served,Category,Ownership,Product_Age_2021,Is_Active
0,2000-01-03,35.375,37.375,35.0,36.875,20.0607,5298400,Pepsi,1893,Active,Worldwide,Cola,PepsiCo,128,True
1,2000-01-03,35.375,37.375,35.0,36.875,20.0607,5298400,Mountain Dew,1940,Active,Worldwide,Citrus Soda,PepsiCo,81,True
2,2000-01-03,35.375,37.375,35.0,36.875,20.0607,5298400,Lay's,1932,Active,Worldwide,Snack,Frito-Lay (PepsiCo),89,True
3,2000-01-03,35.375,37.375,35.0,36.875,20.0607,5298400,Doritos,1964,Active,Worldwide,Snack,Frito-Lay (PepsiCo),57,True
4,2000-01-03,35.375,37.375,35.0,36.875,20.0607,5298400,Tropicana,1947,Active,Worldwide,Beverages,Tropicana (PepsiCo),74,True

In [3]:
# Confirm row count and shape
print(f"Merged rows: {df_merged.shape[0]:,}")
df_merged.sample(3)

Merged rows: 1,373,457

,Date,Open,High,Low,Close,Adj Close,Volume,Product_Name,Year_Launched,Status,Region_Served,Category,Ownership,Product_Age_2021,Is_Active
1111270,2019-10-23,136.61,137.50,136.61,137.45,120.1324,2323600,Miss Vickie's,1987,Active,North America,Snack,Frito-Lay (PepsiCo),34,True
601495,2010-09-23,66.19,66.19,65.66,65.79,44.0701,5877800,Red Rock Deli,2004,Active,Australia,Snack,PepsiCo (partial),17,True
77928,2001-05-22,45.00,45.00,43.88,43.98,24.3448,4209300,Lay's Stax Cheddar,2003,Active,North America,Snack,Frito-Lay (PepsiCo),18,True

In [4]:
# Optional: Save merged dataset for Power BI modeling
output_path = data_dir / 'pep_stock_product_model.csv'
df_merged.to_csv(output_path, index=False)
print(f"Saved merged dataset to {output_path}")

Saved merged dataset to ..\data\processed\pep_stock_product_model.csv